.App {
  text-align: center;
}

.App-logo {
  background-color: rgb(211, 129, 170);
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a71919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(48, 1, 1);
}

.App-link {
  color: #121f17;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}
